# Environment variables
.env
.env.*
!.env.example
target/

# Configuration
config/config.yml
config/*.local.yml

# Logs
*.log

# IDE specific files
.idea/
.vscode/
*.swp
*.swo

# OS specific files
.DS_Store
Thumbs.db

# Terraform
*.tfstate
*.tfstate.*
*.tfvars
*.tfvars.json
.terraform/
.terraform.lock.hcl

# Keep example tfvars
!example.tfvars